apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
  namespace: petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-server
  template:
    metadata:
      labels:
        app: discovery-server
    spec:
      containers:
        - name: discovery-server
          image: spring-petclinic-microservices-main-discovery-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8761
          env:
          - name: SERVER_PORT
            value: "8761"
          - name: CONFIG_SERVER_URL
            value: "http://config-server:8888/"
          - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
            value: "false"
          - name: EUREKA_CLIENT_FETCH_REGISTRY
            value: "false"
          - name: EUREKA_INSTANCE_HOSTNAME
            value: "discovery-server"
---
apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: petclinic
spec:
  selector:
    app: discovery-server
  ports:
    - port: 8761
      targetPort: 8761
