apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: {{ .Values.configServer.image }}:{{ .Values.configServer.tag }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.configServer.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: petclinic
spec:
  selector:
    app: config-server
  ports:
    - port: {{ .Values.configServer.port }}
      targetPort: {{ .Values.configServer.port }}
