spring:
  application:
    name: customers-service
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}

server:
  port: 8890
  
---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888
